In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('./new.csv', low_memory=False)
df2 = pd.read_csv('./data/ipl.csv', low_memory=False)
df.head()

,match_id,innings,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wides,...,toss_decision,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,runs,over,ball_num
0,1370353,1,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,DL Chahar,0,0,NaN,...,field,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",0,0,1
1,1370353,1,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,DL Chahar,0,0,NaN,...,field,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",0,0,2
2,1370353,1,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,DL Chahar,1,0,NaN,...,field,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",1,0,3
3,1370353,1,Gujarat Titans,Chennai Super Kings,Shubman Gill,WP Saha,DL Chahar,1,0,NaN,...,field,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",1,0,4
4,1370353,1,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,DL Chahar,1,0,NaN,...,field,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",1,0,5

In [6]:
# Create a dictionary mapping match_id with the first startdate for each match_id
match_id_to_startdate = df2.groupby('match_id')['start_date'].first().to_dict()

print(match_id_to_startdate)

{335982: '18-04-2008', 335983: '19-04-2008', 335984: '19-04-2008', 335985: '20-04-2008', 335986: '20-04-2008', 335987: '21-04-2008', 335988: '22-04-2008', 335989: '23-04-2008', 335990: '24-04-2008', 335991: '25-04-2008', 335992: '26-04-2008', 335993: '26-04-2008', 335994: '27-04-2008', 335995: '27-04-2008', 335996: '28-04-2008', 335997: '29-04-2008', 335998: '30-04-2008', 335999: '01-05-2008', 336000: '01-05-2008', 336001: '02-05-2008', 336002: '25-05-2008', 336003: '03-05-2008', 336004: '04-05-2008', 336005: '04-05-2008', 336006: '05-05-2008', 336007: '06-05-2008', 336008: '07-05-2008', 336009: '08-05-2008', 336010: '08-05-2008', 336011: '09-05-2008', 336012: '28-05-2008', 336013: '10-05-2008', 336014: '11-05-2008', 336015: '11-05-2008', 336016: '12-05-2008', 336017: '13-05-2008', 336018: '14-05-2008', 336019: '28-05-2008', 336020: '15-05-2008', 336021: '16-05-2008', 336022: '17-05-2008', 336023: '17-05-2008', 336024: '18-05-2008', 336025: '18-05-2008', 336026: '19-05-2008', 336027: '20-05-2008', 336028: '21-05-2008', 336029: '21-05-2008', 336031: '23-05-2008', 336032: '24-05-2008', 336033: '24-05-2008', 336034: '03-05-2008', 336035: '25-05-2008', 336036: '26-05-2008', 336037: '27-05-2008', 336038: '30-05-2008', 336039: '31-05-2008', 336040: '01-06-2008', 392181: '18-04-2009', 392182: '18-04-2009', 392183: '19-04-2009', 392184: '19-04-2009', 392185: '20-04-2009', 392186: '21-04-2009', 392188: '22-04-2009', 392189: '23-04-2009', 392190: '23-04-2009', 392191: '24-04-2009', 392192: '25-04-2009', 392194: '26-04-2009', 392195: '26-04-2009', 392196: '27-04-2009', 392197: '27-04-2009', 392198: '28-04-2009', 392199: '29-04-2009', 392200: '29-04-2009', 392201: '30-04-2009', 392202: '30-04-2009', 392203: '01-05-2009', 392204: '01-05-2009', 392205: '02-05-2009', 392206: '02-05-2009', 392207: '03-05-2009', 392208: '03-05-2009', 392209: '04-05-2009', 392210: '05-05-2009', 392211: '05-05-2009', 392212: '06-05-2009', 392213: '07-05-2009', 392214: '07-05-2009', 392215: '08-05-2009', 392216: '09-05-2009', 392217: '09-05-2009', 392218: '10-05-2009', 392219: '10-05-2009', 392220: '11-05-2009', 392221: '12-05-2009', 392222: '12-05-2009', 392223: '13-05-2009', 392224: '14-05-2009', 392225: '14-05-2009', 392226: '15-05-2009', 392227: '16-05-2009', 392228: '16-05-2009', 392229: '17-05-2009', 392230: '17-05-2009', 392231: '18-05-2009', 392232: '19-05-2009', 392233: '20-05-2009', 392234: '20-05-2009', 392235: '21-05-2009', 392236: '21-05-2009', 392237: '22-05-2009', 392238: '23-05-2009', 392239: '24-05-2009', 419106: '12-03-2010', 419107: '13-03-2010', 419108: '13-03-2010', 419109: '14-03-2010', 419110: '14-03-2010', 419111: '15-03-2010', 419112: '16-03-2010', 419113: '16-03-2010', 419114: '17-03-2010', 419115: '18-03-2010', 419116: '19-03-2010', 419117: '19-03-2010', 419118: '20-03-2010', 419119: '20-03-2010', 419120: '21-03-2010', 419121: '21-03-2010', 419122: '22-03-2010', 419123: '23-03-2010', 419124: '24-03-2010', 419125: '25-03-2010', 419126: '26-03-2010', 419127: '27-03-2010', 419128: '25-03-2010', 419129: '28-03-2010', 419130: '28-03-2010', 419131: '29-03-2010', 419132: '30-03-2010', 419133: '31-03-2010', 419134: '31-03-2010', 419135: '01-04-2010', 419136: '02-04-2010', 419137: '03-04-2010', 419138: '03-04-2010', 419139: '04-04-2010', 419140: '04-04-2010', 419141: '05-04-2010', 419142: '06-04-2010', 419143: '07-04-2010', 419144: '07-04-2010', 419145: '08-04-2010', 419146: '09-04-2010', 419147: '10-04-2010', 419148: '10-04-2010', 419149: '11-04-2010', 419150: '11-04-2010', 419151: '12-04-2010', 419152: '13-04-2010', 419153: '13-04-2010', 419154: '14-04-2010', 419155: '15-04-2010', 419156: '16-04-2010', 419157: '17-04-2010', 419158: '17-04-2010', 419159: '18-04-2010', 419160: '18-04-2010', 419161: '19-04-2010', 419162: '21-04-2010', 419163: '22-04-2010', 419164: '24-04-2010', 419165: '25-04-2010', 501198: '08-04-2011', 501199: '09-04-2011', 501200: '09-04-2011', 501201: '10-04-2011', 501202: '10-04-2011', 501203: '11-04-2011', 501204: '12-04-2011', 501205: '12-04-2011', 501206: '13-04-2011', 501207: '13-04-2011', 501208: '14-04-2011', 501209: '15-04-2011', 501210: '15-04-2011', 501211: '16-04-2011', 501212: '16-04-2011', 501213: '17-04-2011', 501214: '17-04-2011', 501215: '18-04-2011', 501216: '19-04-2011', 501218: '20-04-2011', 501219: '20-04-2011', 501220: '21-04-2011', 501221: '22-04-2011', 501222: '22-04-2011', 501223: '23-04-2011', 501224: '24-04-2011', 501225: '24-04-2011', 501226: '25-04-2011', 501227: '26-04-2011', 501228: '27-04-2011', 501229: '27-04-2011', 501230: '28-04-2011', 501231: '29-04-2011', 501232: '29-04-2011', 501233: '30-04-2011', 501234: '30-04-2011', 501235: '01-05-2011', 501236: '01-05-2011', 501237: '02-05-2011', 501238: '02-05-2011', 501239: '03-05-2011', 501240: '04-05-2011', 501241: '04-05-2011', 501242: '05-05-2011', 501243: '05-05-2011', 501244: '06-05-2011', 501245: '07-05-2011', 501246: '07-05-2011', 501247: '08-05-2011', 501248: '08-05-2011', 501249: '09-05-2011', 501250: '10-05-2011', 501251: '10-05-2011', 501252: '11-05-2011', 501253: '12-05-2011', 501254: '13-05-2011', 501255: '14-05-2011', 501256: '14-05-2011', 501257: '15-05-2011', 501258: '15-05-2011', 501259: '16-05-2011', 501260: '17-05-2011', 501261: '18-05-2011', 501262: '19-05-2011', 501263: '20-05-2011', 501264: '21-05-2011', 501265: '21-05-2011', 501266: '22-05-2011', 501267: '22-05-2011', 501268: '24-05-2011', 501269: '25-05-2011', 501270: '27-05-2011', 501271: '28-05-2011', 548306: '04-04-2012', 548307: '05-04-2012', 548308: '06-04-2012', 548309: '06-04-2012', 548310: '07-04-2012', 548311: '07-04-2012', 548312: '08-04-2012', 548313: '08-04-2012', 548314: '09-04-2012', 548315: '10-04-2012', 548316: '10-04-2012', 548317: '11-04-2012', 548318: '12-04-2012', 548319: '12-04-2012', 548320: '13-04-2012', 548321: '19-04-2012', 548322: '14-04-2012', 548323: '15-04-2012', 548324: '15-04-2012', 548325: '16-04-2012', 548326: '17-04-2012', 548327: '17-04-2012', 548328: '18-04-2012', 548329: '10-05-2012', 548330: '19-04-2012', 548331: '20-04-2012', 548332: '21-04-2012', 548333: '21-04-2012', 548334: '22-04-2012', 548335: '22-04-2012', 548336: '23-04-2012', 548337: '24-04-2012', 548339: '25-04-2012', 548341: '26-04-2012', 548342: '27-04-2012', 548343: '28-04-2012', 548344: '28-04-2012', 548345: '29-04-2012', 548346: '29-04-2012', 548347: '30-04-2012', 548348: '01-05-2012', 548349: '01-05-2012', 548350: '02-05-2012', 548351: '03-05-2012', 548352: '04-05-2012', 548353: '05-05-2012', 548354: '05-05-2012', 548355: '06-05-2012', 548356: '06-05-2012', 548357: '07-05-2012', 548358: '08-05-2012', 548359: '08-05-2012', 548360: '09-05-2012', 548361: '10-05-2012', 548362: '11-05-2012', 548363: '12-05-2012', 548364: '12-05-2012', 548365: '13-05-2012', 548366: '13-05-2012', 548367: '14-05-2012', 548368: '14-05-2012', 548369: '15-05-2012', 548370: '16-05-2012', 548371: '17-05-2012', 548372: '17-05-2012', 548373: '18-05-2012', 548374: '19-05-2012', 548375: '19-05-2012', 548376: '20-05-2012', 548377: '20-05-2012', 548378: '22-05-2012', 548379: '23-05-2012', 548380: '25-05-2012', 548381: '27-05-2012', 597998: '03-04-2013', 597999: '04-04-2013', 598000: '05-04-2013', 598001: '06-04-2013', 598002: '06-04-2013', 598003: '07-04-2013', 598004: '07-04-2013', 598005: '08-04-2013', 598006: '09-04-2013', 598007: '10-04-2013', 598008: '11-04-2013', 598009: '11-04-2013', 598010: '12-04-2013', 598011: '13-04-2013', 598012: '13-04-2013', 598013: '14-04-2013', 598014: '14-04-2013', 598015: '15-04-2013', 598016: '16-04-2013', 598017: '16-04-2013', 598018: '17-04-2013', 598019: '17-04-2013', 598020: '18-04-2013', 598021: '19-04-2013', 598022: '20-04-2013', 598023: '20-04-2013', 598024: '21-04-2013', 598025: '21-04-2013', 598026: '22-04-2013', 598027: '23-04-2013', 598028: '16-05-2013', 598029: '24-04-2013', 598030: '25-04-2013', 598031: '26-04-2013', 598032: '27-04-2013', 598033: '27-04-2013', 598034: '28-04-2013', 598035: '28-04-2013', 598036: '29-04-2013', 598037: '29-04-2013', 598038: '30-04-2013', 598039: '01-05-2013', 598040: '01-05-2013', 598041: '02-05-2013', 598042: '02-05-2013', 598043: '03-05-2013', 598044: '04-05-2013', 598045: '14-05-2013', 598046: '05-05-2013', 598047: '05-05-2013', 598048: '09-04-2013', 598049: '07-05-2013', 598050: '07-05-2013', 598051: '08-05-2013', 598052: '09-05-2013', 598053: '09-05-2013', 598054: '10-05-2013', 598055: '11-05-2013', 598056: '11-05-2013', 598057: '12-05-2013', 598058: '12-05-2013', 598059: '23-04-2013', 598060: '13-05-2013', 598061: '15-05-2013', 598062: '14-05-2013', 598063: '15-05-2013', 598064: '06-05-2013', 598065: '17-05-2013', 598066: '18-05-2013', 598067: '19-05-2013', 598068: '18-05-2013', 598069: '19-05-2013', 598070: '21-05-2013', 598071: '22-05-2013', 598072: '24-05-2013', 598073: '26-05-2013', 729279: '16-04-2014', 729281: '17-04-2014', 729283: '18-04-2014', 729285: '18-04-2014', 729287: '19-04-2014', 729289: '19-04-2014', 729291: '20-04-2014', 729293: '21-04-2014', 729295: '22-04-2014', 729297: '23-04-2014', 729299: '24-04-2014', 729301: '25-04-2014', 729303: '25-04-2014', 729305: '26-04-2014', 729307: '26-04-2014', 729309: '27-04-2014', 729311: '27-04-2014', 729313: '28-04-2014', 729315: '29-04-2014', 729317: '30-04-2014', 733971: '02-05-2014', 733973: '03-05-2014', 733975: '03-05-2014', 733977: '04-05-2014', 733979: '05-05-2014', 733981: '05-05-2014', 733983: '06-05-2014', 733985: '07-05-2014', 733987: '07-05-2014', 733989: '08-05-2014', 733991: '09-05-2014', 733993: '10-05-2014', 733995: '10-05-2014', 733997: '11-05-2014', 733999: '11-05-2014', 734001: '12-05-2014', 734003: '13-05-2014', 734005: '13-05-2014', 734007: '14-05-2014', 734009: '14-05-2014', 734011: '15-05-2014', 734013: '18-05-2014', 734015: '18-05-2014', 734017: '19-05-2014', 734019: '19-05-2014', 734021: '20-05-2014', 734023: '20-05-2014', 734025: '21-05-2014', 734027: '22-05-2014', 734029: '22-05-2014', 734031: '23-05-2014', 734033: '23-05-2014', 734035: '24-05-2014', 734037: '24-05-2014', 734039: '25-05-2014', 734041: '25-05-2014', 734043: '27-05-2014', 734045: '28-05-2014', 734047: '30-05-2014', 734049: '01-06-2014', 829705: '08-04-2015', 829707: '09-04-2015', 829709: '10-04-2015', 829711: '11-04-2015', 829713: '11-04-2015', 829715: '12-04-2015', 829717: '12-04-2015', 829719: '13-04-2015', 829721: '14-04-2015', 829723: '30-04-2015', 829725: '15-04-2015', 829727: '16-04-2015', 829729: '17-04-2015', 829731: '18-04-2015', 829733: '18-04-2015', 829735: '19-04-2015', 829737: '19-04-2015', 829739: '20-04-2015', 829741: '21-04-2015', 829743: '22-04-2015', 829745: '22-04-2015', 829747: '23-04-2015', 829749: '24-04-2015', 829751: '25-04-2015', 829753: '25-04-2015', 829757: '26-04-2015', 829759: '27-04-2015', 829761: '07-05-2015', 829763: '29-04-2015', 829765: '28-04-2015', 829767: '01-05-2015', 829769: '01-05-2015', 829771: '02-05-2015', 829773: '02-05-2015', 829775: '03-05-2015', 829777: '03-05-2015', 829779: '04-05-2015', 829781: '04-05-2015', 829783: '05-05-2015', 829785: '06-05-2015', 829787: '07-05-2015', 829789: '08-05-2015', 829791: '09-05-2015', 829793: '09-05-2015', 829795: '10-05-2015', 829797: '10-05-2015', 829799: '11-05-2015', 829801: '12-05-2015', 829803: '13-05-2015', 829805: '14-05-2015', 829807: '15-05-2015', 829809: '16-05-2015', 829811: '16-05-2015', 829813: '17-05-2015', 829815: '17-05-2015', 829817: '19-05-2015', 829819: '20-05-2015', 829821: '22-05-2015', 829823: '24-05-2015', 980901: '09-04-2016', 980903: '10-04-2016', 980905: '11-04-2016', 980907: '12-04-2016', 980909: '13-04-2016', 980911: '14-04-2016', 980913: '15-04-2016', 980915: '16-04-2016', 980917: '16-04-2016', 980919: '17-04-2016', 980921: '17-04-2016', 980923: '18-04-2016', 980925: '19-04-2016', 980927: '20-04-2016', 980929: '21-04-2016', 980931: '22-04-2016', 980933: '23-04-2016', 980935: '23-04-2016', 980937: '24-04-2016', 980939: '24-04-2016', 980941: '25-04-2016', 980943: '26-04-2016', 980945: '27-04-2016', 980947: '28-04-2016', 980949: '29-04-2016', 980951: '30-04-2016', 980953: '30-04-2016', 980955: '01-05-2016', 980957: '01-05-2016', 980959: '02-05-2016', 980961: '03-05-2016', 980963: '04-05-2016', 980965: '05-05-2016', 980967: '06-05-2016', 980969: '07-05-2016', 980971: '07-05-2016', 980973: '08-05-2016', 980975: '08-05-2016', 980977: '09-05-2016', 980979: '10-05-2016', 980981: '11-05-2016', 980983: '12-05-2016', 980985: '13-05-2016', 980987: '14-05-2016', 980989: '14-05-2016', 980991: '15-05-2016', 980993: '15-05-2016', 980995: '16-05-2016', 980997: '17-05-2016', 980999: '18-05-2016', 981001: '19-05-2016', 981003: '20-05-2016', 981005: '21-05-2016', 981007: '21-05-2016', 981009: '22-05-2016', 981011: '22-05-2016', 981013: '24-05-2016', 981015: '25-05-2016', 981017: '27-05-2016', 981019: '29-05-2016', 1082591: '05-04-2017', 1082592: '06-04-2017', 1082593: '07-04-2017', 1082594: '08-04-2017', 1082595: '08-04-2017', 1082596: '09-04-2017', 1082597: '09-04-2017', 1082598: '10-04-2017', 1082599: '11-04-2017', 1082600: '12-04-2017', 1082601: '13-04-2017', 1082602: '14-04-2017', 1082603: '14-04-2017', 1082604: '15-04-2017', 1082605: '15-04-2017', 1082606: '16-04-2017', 1082607: '16-04-2017', 1082608: '17-04-2017', 1082609: '17-04-2017', 1082610: '18-04-2017', 1082611: '19-04-2017', 1082612: '20-04-2017', 1082613: '21-04-2017', 1082614: '22-04-2017', 1082615: '22-04-2017', 1082616: '23-04-2017', 1082617: '23-04-2017', 1082618: '24-04-2017', 1082620: '26-04-2017', 1082621: '27-04-2017', 1082622: '28-04-2017', 1082623: '28-04-2017', 1082624: '29-04-2017', 1082625: '29-04-2017', 1082626: '30-04-2017', 1082627: '30-04-2017', 1082628: '01-05-2017', 1082629: '01-05-2017', 1082630: '02-05-2017', 1082631: '03-05-2017', 1082632: '04-05-2017', 1082633: '05-05-2017', 1082634: '06-05-2017', 1082635: '06-05-2017', 1082636: '07-05-2017', 1082637: '07-05-2017', 1082638: '08-05-2017', 1082639: '09-05-2017', 1082640: '10-05-2017', 1082641: '11-05-2017', 1082642: '12-05-2017', 1082643: '13-05-2017', 1082644: '13-05-2017', 1082645: '14-05-2017', 1082646: '14-05-2017', 1082647: '16-05-2017', 1082648: '17-05-2017', 1082649: '19-05-2017', 1082650: '21-05-2017', 1136561: '07-04-2018', 1136562: '08-04-2018', 1136563: '08-04-2018', 1136564: '09-04-2018', 1136565: '10-04-2018', 1136566: '11-04-2018', 1136567: '12-04-2018', 1136568: '13-04-2018', 1136569: '14-04-2018', 1136570: '14-04-2018', 1136571: '15-04-2018', 1136572: '15-04-2018', 1136573: '16-04-2018', 1136574: '17-04-2018', 1136575: '18-04-2018', 1136576: '19-04-2018', 1136577: '20-04-2018', 1136578: '21-04-2018', 1136579: '21-04-2018', 1136580: '22-04-2018', 1136581: '22-04-2018', 1136582: '23-04-2018', 1136583: '24-04-2018', 1136584: '25-04-2018', 1136585: '26-04-2018', 1136586: '27-04-2018', 1136587: '28-04-2018', 1136588: '29-04-2018', 1136589: '29-04-2018', 1136590: '30-04-2018', 1136591: '01-05-2018', 1136592: '02-05-2018', 1136593: '03-05-2018', 1136594: '04-05-2018', 1136595: '05-05-2018', 1136596: '05-05-2018', 1136597: '06-05-2018', 1136598: '06-05-2018', 1136599: '07-05-2018', 1136600: '08-05-2018', 1136601: '09-05-2018', 1136602: '10-05-2018', 1136603: '11-05-2018', 1136604: '12-05-2018', 1136605: '12-05-2018', 1136606: '13-05-2018', 1136607: '13-05-2018', 1136608: '14-05-2018', 1136609: '15-05-2018', 1136610: '16-05-2018', 1136611: '17-05-2018', 1136612: '18-05-2018', 1136613: '19-05-2018', 1136614: '19-05-2018', 1136615: '20-05-2018', 1136616: '20-05-2018', 1136617: '22-05-2018', 1136618: '23-05-2018', 1136619: '25-05-2018', 1136620: '27-05-2018', 1175356: '23-03-2019', 1175357: '24-03-2019', 1175358: '24-03-2019', 1175359: '25-03-2019', 1175360: '26-03-2019', 1175361: '27-03-2019', 1175362: '28-03-2019', 1175363: '29-03-2019', 1175364: '30-03-2019', 1175365: '30-03-2019', 1175366: '31-03-2019', 1175367: '31-03-2019', 1175368: '01-04-2019', 1175369: '02-04-2019', 1175370: '03-04-2019', 1175371: '04-04-2019', 1175372: '05-04-2019', 1178393: '06-04-2019', 1178394: '06-04-2019', 1178395: '07-04-2019', 1178396: '07-04-2019', 1178397: '08-04-2019', 1178398: '09-04-2019', 1178399: '10-04-2019', 1178400: '11-04-2019', 1178401: '12-04-2019', 1178402: '13-04-2019', 1178403: '13-04-2019', 1178404: '14-04-2019', 1178405: '14-04-2019', 1178406: '15-04-2019', 1178407: '16-04-2019', 1178408: '17-04-2019', 1178409: '18-04-2019', 1178410: '19-04-2019', 1178411: '20-04-2019', 1178412: '20-04-2019', 1178413: '21-04-2019', 1178414: '21-04-2019', 1178415: '22-04-2019', 1178416: '23-04-2019', 1178417: '24-04-2019', 1178418: '25-04-2019', 1178419: '26-04-2019', 1178420: '27-04-2019', 1178421: '28-04-2019', 1178422: '28-04-2019', 1178423: '29-04-2019', 1178424: '30-04-2019', 1178425: '01-05-2019', 1178426: '02-05-2019', 1178427: '03-05-2019', 1178428: '04-05-2019', 1178429: '04-05-2019', 1178430: '05-05-2019', 1178431: '05-05-2019', 1181764: '07-05-2019', 1181766: '08-05-2019', 1181767: '10-05-2019', 1181768: '12-05-2019', 1216492: '19-09-2020', 1216493: '20-09-2020', 1216494: '21-10-2020', 1216495: '03-11-2020', 1216496: '22-09-2020', 1216497: '24-10-2020', 1216498: '24-10-2020', 1216499: '28-10-2020', 1216500: '09-10-2020', 1216501: '07-10-2020', 1216502: '31-10-2020', 1216503: '01-10-2020', 1216504: '30-09-2020', 1216505: '02-11-2020', 1216506: '01-11-2020', 1216507: '11-10-2020', 1216508: '23-09-2020', 1216509: '17-10-2020', 1216510: '24-09-2020', 1216511: '06-10-2020', 1216512: '18-10-2020', 1216513: '04-10-2020', 1216514: '03-10-2020', 1216515: '03-10-2020', 1216516: '02-10-2020', 1216517: '18-10-2020', 1216518: '22-10-2020', 1216519: '05-10-2020', 1216520: '26-10-2020', 1216521: '23-10-2020', 1216522: '17-10-2020', 1216523: '10-10-2020', 1216524: '27-10-2020', 1216525: '10-10-2020', 1216526: '16-10-2020', 1216527: '27-09-2020', 1216528: '13-10-2020', 1216529: '11-10-2020', 1216530: '01-11-2020', 1216531: '15-10-2020', 1216532: '29-09-2020', 1216533: '19-10-2020', 1216534: '21-09-2020', 1216535: '31-10-2020', 1216536: '29-10-2020', 1216537: '30-10-2020', 1216538: '04-10-2020', 1216539: '25-09-2020', 1216540: '12-10-2020', 1216541: '25-10-2020', 1216542: '08-10-2020', 1216543: '14-10-2020', 1216544: '25-10-2020', 1216545: '26-09-2020', 1216546: '20-10-2020', 1216547: '28-09-2020', 1237177: '05-11-2020', 1237178: '06-11-2020', 1237180: '08-11-2020', 1237181: '10-11-2020', 1254058: '09-04-2021', 1254059: '10-04-2021', 1254060: '11-04-2021', 1254061: '12-04-2021', 1254062: '13-04-2021', 1254063: '14-04-2021', 1254064: '15-04-2021', 1254065: '16-04-2021', 1254066: '17-04-2021', 1254067: '18-04-2021', 1254068: '18-04-2021', 1254069: '19-04-2021', 1254070: '20-04-2021', 1254071: '21-04-2021', 1254072: '21-04-2021', 1254073: '22-04-2021', 1254074: '23-04-2021', 1254075: '24-04-2021', 1254076: '25-04-2021', 1254077: '25-04-2021', 1254078: '26-04-2021', 1254079: '27-04-2021', 1254080: '28-04-2021', 1254081: '29-04-2021', 1254082: '29-04-2021', 1254083: '30-04-2021', 1254084: '01-05-2021', 1254085: '02-05-2021', 1254086: '02-05-2021', 1254087: '20-09-2021', 1254088: '08-10-2021', 1254089: '02-10-2021', 1254090: '03-10-2021', 1254091: '30-09-2021', 1254092: '28-09-2021', 1254093: '05-10-2021', 1254094: '07-10-2021', 1254095: '06-10-2021', 1254096: '23-09-2021', 1254097: '25-09-2021', 1254098: '26-09-2021', 1254099: '28-09-2021', 1254100: '27-09-2021', 1254101: '08-10-2021', 1254102: '01-10-2021', 1254103: '29-09-2021', 1254104: '19-09-2021', 1254105: '22-09-2021', 1254106: '07-10-2021', 1254107: '25-09-2021', 1254108: '26-09-2021', 1254109: '03-10-2021', 1254110: '04-10-2021', 1254111: '21-09-2021', 1254112: '02-10-2021', 1254113: '24-09-2021', 1254114: '10-10-2021', 1254115: '11-10-2021', 1254116: '13-10-2021', 1254117: '15-10-2021', 1304047: '26-03-2022', 1304048: '27-03-2022', 1304049: '27-03-2022', 1304050: '28-03-2022', 1304051: '29-03-2022', 1304052: '30-03-2022', 1304053: '31-03-2022', 1304054: '01-04-2022', 1304055: '02-04-2022', 1304056: '02-04-2022', 1304057: '03-04-2022', 1304058: '04-04-2022', 1304059: '05-04-2022', 1304060: '06-04-2022', 1304061: '07-04-2022', 1304062: '08-04-2022', 1304063: '09-04-2022', 1304064: '09-04-2022', 1304065: '10-0

In [10]:
df['start_date'] = df['match_id'].map(match_id_to_startdate)

In [142]:
df["season"].unique()

array(['2023', '2022', '2021', '2020/21', '2019', '2018', '2017', '2016',
       '2015', '2014', '2013', '2012', '2011', '2009/10', '2009',
       '2007/08'], dtype=object)

In [156]:
filtered_df = df[(df["season"] == "2023") & (df["bowler"] == "MM Sharma") & (df["wicket_type"].notna()) & (df["wicket_type"] != "run out")]
filtered_df[["wicket_type","bowler" ]].shape

(27, 2)

In [11]:
df['over'] = df['over'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243816 entries, 0 to 243815
Data columns (total 32 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          243816 non-null  int64
 1   innings           243816 non-null  int64
 2   batting_team      243816 non-null  object
 3   bowling_team      243816 non-null  object
 4   striker           243816 non-null  object
 5   non_striker       243816 non-null  object
 6   bowler            243816 non-null  object
 7   runs_off_bat      243816 non-null  int64
 8   extras            243816 non-null  int64
 9   wides             7652 non-null    float64
 10  noballs           1018 non-null    float64
 11  byes              628 non-null     float64
 12  legbyes           3778 non-null    float64
 13  wicket_type       12067 non-null   object
 14  player_dismissed  12067 non-null   object
 15  season            243816 non-null  object
 16  city              231419 non-null  object
 17  date              243816 non-null  object
 18  team1             243816 non-null  object
 19  team2             243816 non-null  object
 20  toss_winner       243816 non-null  object
 21  toss_decision     243816 non-null  object
 22  dl_applied        243816 non-null  int64
 23  winner            239692 non-null  object
 24  win_by_runs       243816 non-null  int64
 25  win_by_wickets    243816 non-null  int64
 26  player_of_match   243326 non-null  object
 27  venue             243816 non-null  object
 28  runs              243816 non-null  int64
 29  over              243816 non-null  int32
 30  ball_num          243816 non-null  int64
 31  start_date        243816 non-null  object
dtypes: float64(4), int32(1), int64(9), object(18)
memory usage: 58.6+ MB

In [2]:
import pandas as pd

In [39]:
df = pd.read_csv('./new.csv')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: './new1.csv'

In [35]:
df["team2"].unique()

array(['Chennai Super Kings', 'Mumbai Indians', 'Lucknow Super Giants',
       'Gujarat Titans', 'Delhi Capitals', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Royal Challengers Bangalore', 'Punjab Kings',
       'Sunrisers Hyderabad', 'Kings XI Punjab', 'Delhi Daredevils',
       'Rising Pune Supergiants', 'Gujarat Lions', 'Pune Warriors',
       'Deccan Chargers', 'Kochi Tuskers Kerala'], dtype=object)

In [29]:
df["winner"] = df["winner"].fillna("Draw")

In [38]:
df["runners"].unique()

array(['Gujarat Lions', 'Mumbai Indians', 'Lucknow Super Giants',
       'Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Delhi Capitals', 'Kolkata Knight Riders', 'Kings XI Punjab',
       'Rajasthan Royals', 'Chennai Super Kings',
       'Rising Pune Supergiants', 'Pune Warriors', 'Kochi Tuskers Kerala'],
      dtype=object)

In [37]:
df = df.replace('Rising Pune Supergiant','Rising Pune Supergiants')
df = df.replace('Delhi Daredevils','Delhi Capitals')
df = df.replace('Gujarat Titans','Gujarat Lions')
df = df.replace('Punjab Kings','Kings XI Punjab')
df = df.replace('Deccan Chargers','Sunrisers Hyderabad')
df["winner"] = df["winner"].fillna("Draw")

In [43]:
df.to_csv("new2.csv", index=False)

In [42]:
# Setting "runners" to "Draw" where "winner" is "Draw"
df.loc[df["winner"] == "Draw", "runners"] = "Draw"

In [1]:
import pandas as pd
df = pd.read_csv('./test.csv')
df.head()

        id        date  store_nbr      family  onpromotion
0  3000888  2017-08-16          1  AUTOMOTIVE            0
1  3000889  2017-08-16          1   BABY CARE            0
2  3000890  2017-08-16          1      BEAUTY            2
3  3000891  2017-08-16          1   BEVERAGES           20
4  3000892  2017-08-16          1       BOOKS            0

In [6]:
import datetime as dt
# Convert 'date' column to datetime type
df['date'] = pd.to_datetime(df['date'])

# Extract year and store it in a new column named 'day'
df['year'] = df['date'].dt.year
# Extract month, weekday, quarter, and day and store them in new columns
df['month'] = df['date'].dt.month
df['weekday'] = df['date'].dt.weekday
df['quarter'] = df['date'].dt.quarter
df['day'] = df['date'].dt.day

print(df.head())

        id       date  store_nbr      family  onpromotion  day  year  month  \
0  3000888 2017-08-16          1  AUTOMOTIVE            0   16  2017      8
1  3000889 2017-08-16          1   BABY CARE            0   16  2017      8
2  3000890 2017-08-16          1      BEAUTY            2   16  2017      8
3  3000891 2017-08-16          1   BEVERAGES           20   16  2017      8
4  3000892 2017-08-16          1       BOOKS            0   16  2017      8

   weekday  quarter
0        2        3
1        2        3
2        2        3
3        2        3
4        2        3

In [7]:
df.to_csv("naya.csv", index=False)